@import '../node_modules/antd/dist/antd.less';

@font-family: 'Catamaran', sans-serif;
@primary-color: #8249FB;
@text-color: fade(#0d0719, 65%);
@descriptions-bg: #F8F7F9;
@border-radius-base: 7px;
@border-color-base: #F0EFF2;

button {
    border: 0;
    cursor: pointer;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body, html {
    font-family: @font-family;
    font-size: @font-size-base;
}
